.calculator {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.calculator .inputfield {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.calculator .inputfield input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border-color: gray;
    border: none;
    border: 1px solid;
}

.calculator .operators {
    display: flex;
    gap: 10px;
}

.calculator .operators button {
    padding: 5px 10px;
}